
[submodule "AUDIO SD CARD/include/SD_Card"]
	path = AUDIO SD CARD/include/SD_Card
	url = https://github.com/Thienbt92/SD_Card.git
[submodule "AUDIO SD CARD/lib/SD_Card"]
	path = AUDIO SD CARD/lib/SD_Card
	url = https://github.com/Thienbt92/SD_Card.git
